/* @override 
	http://beta.pictonet.ch/wp-content/themes/pictonet/css/dev/10-fonts.css */

/**
 * @license
 * MyFonts Webfont Build ID 3226450, 2016-05-31T16:53:05-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: TradeGothicLTPro-Cn18 by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/trade-gothic/pro-condensed-18/
 * Licensed pageviews: 250,000
 * 
 * Webfont: TradeGothicLTPro-Obl by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/trade-gothic/pro-oblique/
 * Licensed pageviews: 500,000
 * 
 * Webfont: TradeGothicLTPro by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/trade-gothic/pro-roman/
 * Licensed pageviews: 250,000
 * 
 * Webfont: TradeGothicLTPro-Light by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/trade-gothic/pro-light/
 * Licensed pageviews: 250,000
 * 
 * Webfont: TradeGothicLTPro-Bd2 by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/trade-gothic/pro-bold-2/
 * Licensed pageviews: 250,000
 * 
 * Webfont: TradeGothicLTPro-BdCn20 by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/trade-gothic/pro-bold-condensed-20/
 * Licensed pageviews: 250,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3226450
 * Webfonts copyright: Copyright &#x00A9; 2007 Linotype GmbH, www.linotype.com. All rights reserved. This font software may not be reproduced, modified, disclosed or transferred without the express written approval of Linotype GmbH. Trade Gothic is either a registered trademark
 * 
 * © 2016 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
/*@import url("//hello.myfonts.net/count/313b52");*/

/*
 * Trade Gothic Regular
 * 'TradeGothicLTPro'
**/ 
  
@font-face {
	font-family: 'TGregular';
	font-weight: normal;
	font-style: normal;
	src: url('../../fonts/tg/all/313B52_2_0.eot');
	src: url('../../fonts/tg/all/313B52_2_0.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/tg/all/313B52_2_0.woff2') format('woff2'),
	url('../../fonts/tg/all/313B52_2_0.woff') format('woff'),
	url('../../fonts/tg/all/313B52_2_0.ttf') format('truetype');
}

/*
 * Condensed Bold
 * 'TradeGothicLTPro-BdCn20'
*/

	
@font-face {
	font-family: 'TGcnd';
	font-weight: bold;
	font-style: normal;
	src: url('../../fonts/tg/all/313B52_5_0.eot');
	src: url('../../fonts/tg/all/313B52_5_0.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/tg/all/313B52_5_0.woff2') format('woff2'),
	url('../../fonts/tg/all/313B52_5_0.woff') format('woff'),
	url('../../fonts/tg/all/313B52_5_0.ttf') format('truetype');
}	
 
html {
/*	font-size: 60%;*/
}

html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
button,
input,
select,
textarea,
blockquote cite,
blockquote small,
.widget-title,
.widget_calendar caption,
.entry-caption,
.wp-caption-text,
.gallery-caption,
.widecolumn label,
.widecolumn .mu_register label,
.site-description,
.post-navigation .post-title,
.page-title,
.page-links,
.formError .formErrorContent {
	font-family: TGregular, Oswald, Arial, Helvetica, sans-serif;
}

.condensed, .condensed *,
h1, h2, h3, h4, h5, h6, 
.nav-menu a,
.site-title a,
.entry-title, .entry-title a,
.initiale, .initiale-text,
.meta-fields, .meta-fields a,
.news-item-title,
.news-item-title a,
.menu-archives-container a,
.yearly-archive-widget a,
.related-artist, .related-artists, .related-artists a,
.member-details span,
.event-date, .event-date a,
.page-title,
.more-link,
.foto-nr,
.post-navigation .meta-nav,
.post-navigation .post-title
 {
	font-family: TGcnd, TGregular, Oswald, Arial, Helvetica, sans-serif;
}

::-webkit-input-placeholder,
::placeholder {
	font-family: TGregular, Oswald, Arial, Helvetica, sans-serif;
}

/* Light */
.light,
.member-list li a {
	font-weight: 200;
}
.member-list li {
	line-height: 1;
	margin-bottom: 0.3em;
}

.bold {
	font-weight: 700;
}

/* FORCED UPPERCASE */

.meta-fields a,
.news-item-title,
.related-artists,
.event-date,
.more-link {
	text-transform: uppercase;
	font-weight: 700;
}