/* @override 
	http://beta.pictonet.ch/wp-content/themes/pictonet/css/dev/20-custom.css */

/**
 * Table of Contents
 * 3.0 - Typography
 * 6.0 - Navigations
 *   6.1 - Links
 *   6.2 - Menus
 * 7.0 - Accessibility
 * 8.0 - Alignments
 * 9.0 - Clearings
 * 10.0 - Header
 * 11.0 - Widgets
 * 12.0 - Content
 *    12.1 - Posts and pages
 *    12.2 - Post Formats
 *    12.3 - Comments
 * 13.0 - Footer
 * 14.0 - Media
 *    14.1 - Captions
 *    14.2 - Galleries
 * 15.0 - Multisite
 * 16.0 - Media Queries
 */


/**
 * 1.0 - Reset
 *
 * Resetting and rebuilding styles have been helped along thanks to the fine
 * work of Eric Meyer, Nicolas Gallagher, Jonathan Neal, and Blueprint.
 */

.clear:before,
.clear:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clear:after {
    clear: both;
}

hr {
	margin-top: 1.8em;
	margin-bottom: 1.6em;
	background-color: #333;
	height: 2px;
	clear: both;
	width: 100%s;
}
    

/**
 * Basics
 *
 */

body {
	background: #fff;
}

.hentry,
.page-header,
.page-content,
.post-navigation {
		box-shadow: none;
	}

/**
 * 3.0 Typography
 */

blockquote {
	border-left-width: 0px;
	font-size: inherit;
	line-height: inherit;
	padding-left: 2em;
	clear:  left;
}

/**
 * 5.0 Forms - SEARCH FIELD
 */
 
/* Notes: 
 * Le formulaire de recherche semble être le formulaire par défaut de WordPress.
 * Modifié par: get_search_form
 * "Will first attempt to locate the searchform.php file in either the child or the parent, then load it. If it doesn’t exist, then the default search form will be displayed. "
*/

.widget-area .search-field {
	text-align: right;
}

.search-form input:focus::-webkit-input-placeholder { color:transparent; }
.search-form input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.search-form input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.search-form input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */


/* 6.0 Navigations
 */


/* 6.1 Links
 */

.post-navigation .nav-previous,
.post-navigation .nav-next {
	border: 0;
}

/* 6.2 Menus - MAIN NAVIGATION
 */


.main-navigation ul {
	border: 0;
}

.main-navigation li {
	text-align: right;
	border: 0;
}

.main-navigation a {
	font-weight: 700;
	font-size: 120%;
	line-height: 2;
	text-transform: uppercase;
/*	letter-spacing: 0.02em;*/
	display: inline;
	padding-bottom: 0.02em;
}

.main-navigation .current-menu-item > a, 
.main-navigation .current-menu-ancestor > a {
	border-bottom: 2px solid #333;
}

.main-navigation .desktop-hidden {
	display: block;
}

.search-field {
	background-color: #fff;
	border-color: #aaa;
}

.menu-archives-container a,
.yearly-archive-widget a {
	font-weight: 700;
	font-size: 120%;
}

/* 6.2 Menus - Post navigation
 */

.post-navigation {
	margin-left: 0; /* set to 0 in mediaqueries */
	margin-right: 0;
	padding-left: 7.6923%;
	padding-right: 7.6923%;
	padding-top: 7.6923%;
	
/*	border-top: 2px solid #333;*/
}

.site-main .post-navigation {
/*	padding-top: 3%;*/
}
.post-navigation .nav-previous {
/*	margin-top: 3%;*/
}

.post-navigation a {
	display: block;
	border: 0px solid #aaa;
	padding: 0;
/*	float: left;*/
	padding: 0 0.5em;
}

.post-navigation .post-title {
	font-size: 100%;
	text-transform: uppercase;
}

.post-navigation span {
  display: inline;
}

.single-post .post-navigation .meta-nav,
.single-membres .post-navigation .meta-nav {
	position: absolute;
	top: -0.3em;
	font-size: 100%;
}

.post-navigation .post-title {
	padding-left: 1.4em;
	display: block;
}

/* fix issue on media attachment pages */
.single-attachment .post-navigation .post-title {
	padding-left: 0;
}

.nav-previous a,
.nav-next a {
	padding-left: 0;
	margin-bottom: 0.5em;
	clear: left;
}

.post-navigation .meta-nav {
	font-size: 120%;
	color: #333;
	font-weight: 200;
	vertical-align: top;
}

.post-navigation a:hover .meta-nav, 
.post-navigation a:focus .meta-nav {
    color: #707070;
}


.sub-agenda {
	border-left: 0;
	padding-left: 0;
	padding-right: 0;
	border-bottom: 3px solid #333;
	padding-bottom: 0;
	margin-bottom: 5.8%;
	
	margin-bottom: 2%;
	margin-left: 4%;
	margin-right: 4%;
}

.page-header + .sub-agenda-grid,
.site-main .sub-agenda-grid {
	margin-top: 0;
}

.read-more {
	text-align: left;
	font-size: 90%;
	font-weight: 700;
	font-family: 'TGcnd';
	text-transform: uppercase;
	display: block;
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
}
a:hover .read-more,
.read-more:hover {
/*	text-decoration: underline;*/
}


/* 10.0 Header
 */

.site-title {
	text-transform: uppercase;
/*	letter-spacing: 0.05em;*/
	font-size: 40px;
	font-size: 4rem;
	line-height: 1;
}

/* Sidebar 
 */

.menu-archives-container,
.yearly-archive-widget {
	text-align: right;
	font-weight: bold;
}

.menu-archives-container li,
.yearly-archive-widget li {
	list-style: none;
	padding: 0;
	border: 0;
}


/* 12.1 Posts and pages
 */

.entry-content {
/*	font-weight: 300;*/
}

.entry-content h3 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.entry-content ul {
	list-style-type: none;
}

.entry-content li:not(.link):before {
	content: "— ";
}

.entry-content li:not(.link) {
	padding-left: 1.4em;
	text-indent: -1.35em;
	margin-bottom: 0.75em;
}

.post .related-artists a {
	text-decoration: underline;
}
.hyperlinks ul {
	margin-left: 0;
}

.archive-title {
	margin-top: 0.8em;
	margin-bottom: 0.3em;
}

.entry-footer {
	background-color: #fff;
}

.entry-content .more-link:after,
.entry-summary .more-link:after {
	content: none;
}

.member-header-gallery,
.single-header-img {
	margin-bottom: 2.5em;	
}

.member-details {
	font-size: 90%;
	margin-bottom: 1em;
}

.member-activity {
	margin-right: 0.5em;
}

/* @group Member List */

.site-aside {
	display: none;
}

.member-list {
	margin-left: 7.6923%;
	margin-right: 7.6923%;
}

.member-list .initiale {
	text-transform: uppercase;
}

.member-list .bloc-initiale {
	-webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
	border: 0.1px solid white;
}

.member-list ul {
	margin-bottom: 1em;
	margin-left: 0;
}

.member-list ul,
.member-list li {
	list-style: none;
	list-style-type: none;
}

/* @end */

/* @group Member Page */

.meta-fields ul {
	margin-bottom: 0;
	margin-top: 0;
}

.meta-fields li {
	list-style: none;
	list-style-type: none;	
}

.membres .vcard .fn {
	display: none;
}

.membres .entry-title {
	margin-bottom: 0;
}

.membres .entry-header {
	margin-bottom: 1.2em;
}


/* @end */

/* @group Fotorama */


/* 
 * marge pour les cas où le fotorama est inséré par l'utilisateur 
 *
*/

.fotorama--wp {
	margin-top: 1em;	
}

/* 
 * supprimer la marge si le fotorama est en tête d'article 
 *
*/

.content-area
.content-header-gallery .fotorama,
.member-header-gallery .fotorama {
	margin-top: 0.2em;
}

.fotorama__wrap,
.fotorama__stage {
/*	width: 100% !important;*/
}


.fotorama__nav {
	margin-top: 12px;
	text-align: right;
/*	padding-right: 10px;*/
}

.fotorama__nav--dots .fotorama__nav__frame {
	height: auto;
}

.fotorama__nav .final-nr,
.fotorama__nav .foto-nr {
	font-size: 1.8rem;
	line-height: 1;
	text-align: right;
}

.fotorama__nav .final-nr {
	width: auto;
}

.final-nr .foto-nr {
	text-align: left;
}

.fotorama__nav .fotorama__dot,
.fotorama__nav__frame {
	display: none;
}

.fotorama__active,
.final-nr {
	display: inline-block;
}

/* Override Caption Styles */

.fotorama__caption__wrap {
	margin-left: 2%;
	margin-bottom: 2%;
	background-color: rgba(255, 255, 255, 0.6);
	max-width: 96%;
}

.single-header-img {
	height: auto !important;
}

/* @end */

/* @group Template Sous-Pages */

.sous-pages .smaller-title {
	margin-top: 0.3em;
	margin-bottom: 0.2em;
}

.sous-pages .grid .news-item-title {
	margin-top: 0.7em;
	margin-bottom: 0.3em;
	line-height: 1.2;
}

/* @end */


/* @group Grid */

/* Salvatore Grid */

.column { float: left; }

.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
.size-1of4 { width: 25%; }

.size-1of2:first-of-type {
	padding-right: 1em;
}
.size-1of2:last-of-type {
	padding-left: 1em;
}

.grid img {
	width: 100%;
	height: auto;
}

/*#grid[data-columns]::before {
		content: '1 .column.size-1of1';
}*/

/* @end */

/* @group News Item */

.news-item {
	margin-bottom: 1em; 
}

.column,
.news-item {
		box-sizing: border-box;
	}

.news-item-link {
	display: block;
}

.news-item-link:hover {
	background-color: #fef100;
	color: #000;
	box-shadow: 0px 0px 0px 5px #fef100;
}

.news-item-img img {
	display: block;
	width: 100%;
}

.news-item-title {
	margin-top: 0.5em;
}

.no-img .news-item-title {
	border-top: 5em solid #ddd;	
	margin-top: 0;
	padding-top: 0.3em;
}

.news-item-title {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 0.2em;
}

.grid .news-item-title {
	margin-top: 0;	
}


.news-item-img {
	margin-bottom: 0.5em;
	display: block;
}

.news-item .entry-content {
	padding: 0;
}

.related-artists {
	line-height: 1.3;
	font-weight: 400;
}

/* @end */

/* @group PictoPhotos */

.pictophotos {
	z-index: 1;
	position: fixed;
	top: 0; left: 0;
	width: 0px;
	height: 0px;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background: #fff;
	overflow: hidden;
	transition: all 0.7s ease-in-out;
	
}

.pictobackground {
	width: 0px;
	height: 0px;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	background-size: cover;
	background-position: 50% 50%;
	/*transition: all 0.7s ease-in-out, background 0.2s ease-in-out;*/
}

.pictophotos a {
	color: #fff;
}
.pictophotos a:hover {
	color: #000;
}

.pictophotos h1 {
	top: 50vh;
	width: 100%;
	position: absolute;
	margin-top: -0.5em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 20vw;
	line-height: 1;
	transition: all 0.3s ease-in-out;
}

.photos-navigating h1 {
	font-size: 10vw;
	top: 2.5rem;
	margin-left: 2.5rem;
	margin-top: 0;
	text-align: left;
}

@media screen and (min-width: 38.75em) {
	.photos-navigating h1 {
		font-size: 9rem;
	}
}

.pictophotos h1 a {
	padding: 30vh 25vw;
	transition: padding 0.3s ease-in-out;
}

.photos-navigating h1 a {
	padding: 0;
}

.pictophotos .prev,
.pictophotos .next {
	top: 50vh;
	width: auto;
	position: absolute;
	margin-top: -2.5em;
	padding: 1.5em 1em;
	font-size: 2em;
	font-weight: bold;
}

.pictophotos .prev:focus,
.pictophotos .next:focus {
    outline: none !important;
    border: 0;
}

.pictophotos .prev {
	left: 0;
}

.pictophotos .next {
	right: 0;
	text-align: right;
}

.photos-navigating .prev,
.photos-navigating .next {
	
}

.pictophotos .legende {
	bottom: 1.5em;
	right: 1.5em;
	color: #fff;
	position: absolute;
}

.pictophotos .legende p {
	margin-bottom: 0;
	text-transform: uppercase;
	line-height: 1.2;
	font-weight: bold;
}

/* @end */
