/* @override 
	http://beta.pictonet.ch/wp-content/themes/pictonet/css/dev/25-forms.css */


button, input[type="button"], input[type="reset"], input[type="submit"] {
		font-family: TGregular, Oswald, Arial, Helvetica, sans-serif;
	
}

/* TwentyFifteen override 
 * We use original styles, but add input type = tel
*/

input[type="tel"] {
	padding: 0.375em;
	width: 100%;
}

input[type="tel"]:focus {
	outline: 0;
}

@media screen and (min-width: 46.25em) {
	
	input[type="tel"] {
			padding: 0.5em;
		}

}

@media screen and (min-width: 55em) {
	
	input[type="tel"] {
			padding: 0.5278em;
		}

}

@media screen and (min-width: 59.6875em) {

	input[type="tel"] {
			padding: 0.375em;
		}

}

@media screen and (min-width: 68.75em) {
		
	input[type="tel"] {
			padding: 0.5em;
		}

}

@media screen and (min-width: 77.5em) {

	input[type="tel"] {
			padding: 0.5278em;
		}
	
	
}

/**/

/* @group MailPoet Styles */

/*
 * MailPoet
*/

.widget_wysija_cont h3 {
	margin-top: 0em;
}

.widget_wysija_cont p {
    margin-bottom: 0.8em;
}

.widget_wysija_cont label {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.widget_wysija_cont .widget_wysija .wysija-submit {
	margin-top: 1em;
}

.widget_wysija_cont input[type="text"] {
/*	border-color: #333;*/
}

.formError {
 	position: relative !important;
 	top: 0 !important;
 	left: 0 !important;
 }
 
 .formError .formErrorContent {
 	font-size: 100%;
 	width: auto;
 	border: 0;
 	margin-top: 0;
 	margin-bottom: 0.6em;
 }
 
 .widget_wysija_cont .updated, 
 .widget_wysija_cont .error, 
 .widget_wysija_cont .xdetailed-errors {
 	font-size: 100%;
 	padding: 1em;
 }


.widget_wysija_cont:before,
.widget_wysija_cont:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.widget_wysija_cont:after {
    clear: both;
}

/* @end */

/* @group Formidable */

.frm_hidden,
.frm_button.frm_hidden {
    display: none;
}

.frm_section_heading {
	border-top: 2px solid #333;
	padding-top: 3%;
	margin-top: 3%;
}

.entry-content h3.frm_section_spacing {
	margin-top: 0;
	margin-bottom: 1em;
}


.frm_error {
	font-weight: bold;
	clear: both;
	display: block;
	font-size: 80%;
	padding-top: 0.5em;
	margin-bottom: 0.2em;
}

.frm_blank_field label, 
.frm_error {
    color: #B94A48;
}{
	
}

.frm_error_style {
	background-color: #F2DEDE;
	border: 1px solid #EBCCD1;
	color: #B94A48;
	margin-bottom: 20px;
	padding: 1em;
}

.frm_message,
.frm_success_style {
    border: 1px solid #D6E9C6;
    background-color: #DFF0D8;
    color: #468847;
    border-radius: 0px;
    padding: 1em;
}

.frm_message {
    margin: 5px 0 15px;
}

.frm_ajax_loading {
    visibility: hidden;
    width: auto;
    margin-bottom: 10px;
}
.frm_ajax_loading.frm_loading_now {
    visibility: visible !important;
}

.frm_checkbox > label,
.frm_radio > label {
	padding-left: 1.5em;
	display: block;
	text-indent: -1.5em;
	margin-bottom: 0.5em;
}

.frm_checkbox > label > input,
.frm_radio > label > input {
	width: 1.2em;
}

.frm_submit {
	margin-bottom: 1.5em;
}

/*override Dropzone size*/

.site-content .frm_dropzone.dz-clickable.frm_single_upload {
    max-width: 100%;
}


#ui-datepicker-div{
    z-index:999999 !important;
}



/* @end */


