/* @override 
	http://beta.pictonet.ch/wp-content/themes/pictonet/css/dev/30-mediaqueries.css */

/**
* 16.0 - Media Queries
* 16.01 - Mobile Medium - 480px = 30em
* 16.1 - Mobile Large - 620px

* 16.2 - Tablet Small - 740px
* 16.3 - Tablet Large - 880px

* 16.4 - Desktop Small - 955px - 59.6875em
* 16.5 - Desktop Medium - 1100px - 68.75em
* 16.6 - Desktop Large - 1240px - 77.5em
* 16.7 - Desktop X-Large - 1403px

* 17.0 - Print
*/

/* 16.00 Mobile Narrow - 320px = 20em
 */
 
@media screen and (min-width: 20em) {
 
 	.member-list {
 		-webkit-column-count: 2;
 		-moz-column-count: 2;
 		column-count: 2;	
 	}
 
}

/* 16.0 Mobile Medium - 480px = 30em
 */
 
@media screen and (min-width: 30em) {
	
	.site-title {
		font-size: 60px;
		font-size: 6rem;
	}
		
	/* 2-column news item */	
	#grid[data-columns]::before {
			content: '2 .column.size-1of2';
		}
		
	.member-list {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;	
	}
	
	
	.widget_wysija .wysija-paragraph {
		float: left;
		width: 60%;
	}
	
	.widget_wysija_cont .wysija-paragraph {
		margin-bottom: 0;
	}
	
	.widget_wysija_cont .widget_wysija .wysija-submit {
		float: right;
		width: 35%;
		margin-top: 0;
	}
	
	
	.frm_form_field {
		margin-bottom: 1em;
	}
	
	.frm_form_field:before,
	.frm_form_field:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}
	
	.frm_form_field:after {
	    clear: both;
	}
	
	.frm_form_field .frm_primary_label {
		float: left;
/*		text-align: right;*/
		padding-right: 1em;
		width: 30%;
		
		-webkit-hyphens: manual;
		-moz-hyphens: manual;
		hyphens: manual;
	}
	
	.frm_form_field > input,
	.frm_form_field > textarea,
	.frm_form_field >.frm_opt_container,
	.frm_form_field >.frm_single_upload,
	.frm_error  {
		float: right;
		width: 70%;
	}


}

/* 16.1 Mobile Large 620px
 */

@media screen and (min-width: 38.75em) {
	
	.site-title {
		font-size: 80px;
		font-size: 8rem;
	}
	
	.site-aside {
		padding-top: 0;
	}
		
	.page-title,
	.taxonomy-description {
			margin-left: 0;
	}
	
	.post-navigation {
		padding-top: 0;
		margin-top: 0;
	}
	
	.post-navigation .nav-links {
		border-top: 1px solid #eaeaea;
		border-top: 1px solid rgba(51, 51, 51, 0.1);
		padding-top: 5%;
	}
	
	.entry-header,
	.entry-content,
	.entry-summary {
				padding-left: 0;
				padding-right: 0;
		}
	
	.sub-agenda {
		margin-left: 7.6923%;
		margin-right: 7.6923%;
		width: auto;
		margin-bottom: 5.8%;
	}
	
	.member-list {
	
		padding-top: 0;
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;	
	}

}



/* 16.4 Desktop Small - 955px
 
 * Breakpoint principal!
 * On passe à la mise en page avec colonne à gauche
 *
 */

@media only screen and (min-width: 59.6875em) {
	
	body:before {
			box-shadow: none;
			background-color: transparent;
			width: 26%; /* must match sidebar */
	}
	
	.site {
		margin: 0 auto;
		max-width: 1600px;
	}
	
	/*
		font-size: 15px;
		font-size: 1.5rem;
		line-height: 1.6;
		margin-bottom: 1.6em;
	*/
	
	body,
	button,
	input,
	select,
	textarea {
		line-height: 1.4;
	}
	
	p,
	address,
	pre,
	ul,
	ol,
	dl,
	dd,
	table {
		margin-bottom: 0.8em; /* was: 1.6em */
	}
	
	hr {
				/* keep at 1.6em */
		}
	
	.sidebar {
/*			max-width: 300px;*/
			width: 26%;
		}
		
	/* redefine sidebar inner margins:
	 * 11.50% instead of 20%
	 */
	 
	 .site-header {
	 		padding-left: 11.50%;
	 		padding-right: 11.50%;
	 }
	 
	
	 
	 .main-navigation,
	 .widget-area {
	 		margin-left: 11.50%;
	 		margin-right: 11.50%;
	 		margin-bottom: 9%;
	 }
	 
	 .main-navigation a {
	 	line-height: 1.8;
	 }
	 
	 .main-navigation .desktop-hidden {
	 	display: none;
	 }
	 
	 .widget {
	 	margin-left: 0;
	 	margin-right: 0;
	 	padding-left: 0;
	 	padding-right: 0;
	 	/**
	 		Largeur du .widget = 100 - 23 = 77
	 		= on veut 11%
	 	*/ 
	 	margin-bottom: 12%;
	 }
	 
	 
	 
	 /*
	  * Main Content Block:
	  * 74% instead of 70.5882%
	 */
	 
	 .site-content {
	     margin-left: 26%;
	     width: 74%;
	 }
	 
	 .site-main {
		 	width: 69%;
		 	float: left;
		 	padding-top: 65px;
	 }
	 
	 .site-main .hentry,
	 .site-main .page-header,
	 .site-main .page-content,
	 .site-main .post-navigation {
	 		margin-left: 5.8%;	
	 		margin-right: 5.8%;	
	 }
	 
	 .site-aside {
	 	display: block;
	 }
	 
	 .site-aside .hentry{
	 		margin-left: 0;	
	 		margin-right: 13%;	
	 }
	 
	 /*
	  * End of Core Layout Changes
	 */
	 
	 /*
	  * Titre PICTO
	 */
	
	.site-title {
		font-size: 80px;
		font-size: 8rem;
		text-align: right;
		margin-right: -0.08em;
		margin-top: -0.08em;
	}
	
	.sous-pages {
		font-size: 90%;
	}
		
	.site-aside {
		width: 31%;
		float: right;
	}
	
	.site-header {
		margin-top: 65px;
		margin-bottom: 5%;
	}
		
	.hentry {
	    padding-top: 0;
	 }
	 
	 .hentry,
	 .page-header,
	 .page-content {
	 		margin-left: 0;
	 	}
	 	
	 	.entry-header,
	 	.entry-content,
	 	.entry-summary {
	 			padding-left: 0;
	 			padding-right: 0;
	 	}
	 	
	 	.post .entry-title {
	 		margin-bottom: 0;
	 		/* was: margin-bottom: 1.1613em; */
	 	}
	 	.post .entry-header {
	 		margin-bottom: 1.1613em;
	 	}
	 	
	 	.post-navigation {
	 		padding-left: 0;
	 		padding-right: 0;
	 	}
	 	
	 	.post-navigation .nav-links {
	 		border-top: 2px solid #333;
	 	}
	 	
	 	.widget-area,
	 	.widget_search {
	 		text-align: right;
	 	}
	 	.widget-area .search-field {
	 		max-width: 6em;	
	 		text-align: right;
	 	}
	 	
	 	.widget input[type="search"] {
	 		padding-top: 0.1em;
	 		padding-bottom: 0.1em;
	 	}
	 	
	 	.widget .search-field:focus {
	 		max-width: 100%;
	 		-webkit-transition: all 0.6 ease-in-out;
	 		-moz-transition: max-width 0.3 ease-in-out;
	 		-o-transition: max-width 0.3 ease-in-out;
	 		-ms-transition: max-width 0.3 ease-in-out;
	 		transition: max-width 0.3s ease-in-out;
	 		
	 	}
	 	
	 	.widget input[type="search"]:focus  {
	 			padding-top: 0.5em;
	 				padding-bottom: 0.5em;
	 		}
	 	
	 	
	 	/* SALVATORE */
	 		#grid[data-columns]::before {
	 			content: '2 .column.size-1of2';
	 		}
	 	
	 	.member-list {
	 		-webkit-column-count: 1;
	 		-moz-column-count: 1;
	 		column-count: 1;	
	 	}
	 	
	
}


/* 16.5 Desktop Medium 1100px
 */

@media screen and (min-width: 68.75em) {
	
	/* 
	font-size: 17px;
	font-size: 1.7rem;
	line-height: 1.6471; 
	
	margin-bottom: 1.6471em;
	*/
	
	
	.site-title {
		font-size: 90px;
		font-size: 9rem;
	}
	
	.member-list li a {
		font-size: 90%;
	}
	
	

}

/* 16.6 Desktop Large 1240px
 */

@media screen and (min-width: 77.5em) {
	
	.site-title {
		font-size: 110px;
		font-size: 11rem;
	}
	
	.member-list {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;	
	}
	
	.member-list li a {
		font-size: 80%;
	}
	
	.post .entry-title {
	   margin-bottom: 1.2308em;
	   margin-bottom: 0;
	}
	
	.post .entry-header {
		margin-bottom: 1.2308em;
	}
	
	.smaller-title {
		font-size: 30px;
		font-size: 3.0rem;
	}
	
	
	/*
		font-size: 19px;
		font-size: 1.9rem;
		line-height: 1.6842;
		margin-bottom: 1.6842em;
	*/
	
	p,
	address,
	pre,
	hr,
	ul,
	ol,
	dl,
	dd,
	table {
		margin-bottom: 1.3em; 
	}
	
	.sous-pages .entry-content p {
		margin-bottom: 0.5em;
	}
	
	.post-navigation .nav-links {
			border-top: 3px solid #333;
		}
	
	/*#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}*/
	
}


/**
 * 16.7 Desktop X-Large 1403px
 */

@media screen and (min-width: 87.6875em) {

	body:before {
		width: -webkit-calc(50% - 289px);
		width: calc(50% - 289px); /* ??? */
		width: 413px;
		content: none;
	}

	.site-title {
		font-size: 120px;
		font-size: 12rem;
	}
	
	.member-list li a {
	    font-size: 96%;
	}

}

/**
 * 16.8 Desktop XX-Large 1600px
 */

@media screen and (min-width: 100em) {
	.site-title {
		font-size: 130px;
		font-size: 13rem;
	}
}