/*
 
 Core fonts are loaded in main CSS.
 
 Bellow are additional fonts.

*/

/**
 * @license
 * MyFonts Webfont Build ID 3226450, 2016-05-31T16:53:05-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: TradeGothicLTPro-Cn18 by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/trade-gothic/pro-condensed-18/
 * Licensed pageviews: 250,000
 * 
 * Webfont: TradeGothicLTPro-Obl by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/trade-gothic/pro-oblique/
 * Licensed pageviews: 500,000
 * 
 * Webfont: TradeGothicLTPro by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/trade-gothic/pro-roman/
 * Licensed pageviews: 250,000
 * 
 * Webfont: TradeGothicLTPro-Light by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/trade-gothic/pro-light/
 * Licensed pageviews: 250,000
 * 
 * Webfont: TradeGothicLTPro-Bd2 by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/trade-gothic/pro-bold-2/
 * Licensed pageviews: 250,000
 * 
 * Webfont: TradeGothicLTPro-BdCn20 by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/trade-gothic/pro-bold-condensed-20/
 * Licensed pageviews: 250,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3226450
 * Webfonts copyright: Copyright &#x00A9; 2007 Linotype GmbH, www.linotype.com. All rights reserved. This font software may not be reproduced, modified, disclosed or transferred without the express written approval of Linotype GmbH. Trade Gothic is either a registered trademark
 * 
 * © 2016 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
/*@import url("//hello.myfonts.net/count/313b52");*/

/*
Trade Gothic Light
'TradeGothicLTPro-Light'
*/

/*@font-face {
	font-family: 'TGlight';
	src: url('tg/lgt/313B56_0_0.eot');
	src: url('tg/lgt/313B56_0_0.eot?#iefix') format('embedded-opentype'),
	url('tg/lgt/313B56_0_0.woff2') format('woff2'),
	url('tg/lgt/313B56_0_0.woff') format('woff'),
	url('tg/lgt/313B56_0_0.ttf') format('truetype'),
	url('tg/lgt/313B56_0_0.svg#wf') format('svg');
}*/

@font-face {
	font-family: 'TGregular';
	font-weight: 200;
	font-style: normal;
	src: url('tg/all/313B52_3_0.eot');
	src: url('tg/all/313B52_3_0.eot?#iefix') format('embedded-opentype'),
	url('tg/all/313B52_3_0.woff2') format('woff2'),
	url('tg/all/313B52_3_0.woff') format('woff'),
	url('tg/all/313B52_3_0.ttf') format('truetype');
}

/*
Trade Gothic Condensed Regular
'TradeGothicLTPro-Cn18'
*/

@font-face {
	font-family: 'TGcnd';
	font-weight: 400;
	font-style: normal;
	src: url('tg/all/313B52_0_0.eot');
	src: url('tg/all/313B52_0_0.eot?#iefix') format('embedded-opentype'),
	url('tg/all/313B52_0_0.woff2') format('woff2'),
	url('tg/all/313B52_0_0.woff') format('woff'),
	url('tg/all/313B52_0_0.ttf') format('truetype');
}



/*
Trade Gothic Regular - Bold
'TradeGothicLTPro-Bd2'
*/


@font-face {
	font-family: 'TGregular';
	font-weight: 700;
	font-style: normal;
	src: url('tg/all/313B52_4_0.eot');
	src: url('tg/all/313B52_4_0.eot?#iefix') format('embedded-opentype'),
	url('tg/all/313B52_4_0.woff2') format('woff2'),
	url('tg/all/313B52_4_0.woff') format('woff'),
	url('tg/all/313B52_4_0.ttf') format('truetype');
}

/*
Trade Gothic Regular - Italic
'TradeGothicLTPro-Obl'
*/

/*@font-face {
	font-family: 'TGregular';
	font-weight: normal;
	font-style: italic;
	src: url('tg/reg/313B54_0_0.eot');
	src: url('tg/reg/313B54_0_0.eot?#iefix') format('embedded-opentype'),
	url('tg/reg/313B54_0_0.woff2') format('woff2'),
	url('tg/reg/313B54_0_0.woff') format('woff'),
	url('tg/reg/313B54_0_0.ttf') format('truetype'),
	url('tg/reg/313B54_0_0.svg#wf') format('svg');
}*/

/*@font-face {
	font-family: 'TGregular';
	font-weight: normal;
	font-style: italic;
	src: url('tg/all/313B52_1_0.eot');
	src: url('tg/all/313B52_1_0.eot?#iefix') format('embedded-opentype'),
	url('tg/all/313B52_1_0.woff2') format('woff2'),
	url('tg/all/313B52_1_0.woff') format('woff'),
	url('tg/all/313B52_1_0.ttf') format('truetype');
}*/

